/* tags */

body {
    background-color: lavender;
    font-family: 'Indie Flower', cursive;
}

h1 {
    font-size: 32px;
    line-height: 40px;
}

p {
    font-size: 18px;
    line-height: 26px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* tags end */

/* classes */

.header {
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 0.5%;
}

.h1 {
    width: 230px;
    background-color: darkblue;
    border: 1px solid darkblue;
    border-radius: 2px;
    color: cyan;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 0.5%;
}

.main {
    margin-left: 1%;
    margin-right: 1%;
}

.how-to-play {
    max-width: 500px;
    background-color: rgb(89, 2, 126);
    border: 1px solid rgb(89, 2, 126);;
    border-radius: 2px;
    color: cyan;
    padding-left: 1%;
    padding-right: 1%;
    margin-bottom: 0.5%;
    padding-bottom: 0.5%;
}

/* classes end */

/* ids */

#game-status, #game-score-header, #game-score {
    font-size: 24px;
    line-height: 32px;
}

#game-score-header {
    max-width: 220px;
    background-color: darkslateblue;
    border: 1px solid darkslateblue;
    border-radius: 2px;
    color: cyan;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 0.5%;
    margin-bottom: 0.5%;
}

#target-number {
    max-width: 200px;
    background-color: darkgreen;
    border: 1px solid darkgreen;
    border-radius: 2px;
    color: cyan;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 0.5%;
    margin-bottom: 0.5%;
}

#win-loss-stats {
    max-width: 110px;
    background-color: darkred;
    border: 1px solid darkred;
    border-radius: 2px;
    color: cyan;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 0.5%;
    margin-bottom: 0.5%;
}

#wins, #losses, #random-number, #game-score {
    font-family: 'Orbitron', sans-serif;
    color: rgb(255, 159, 207);
}

/* ids end */

/*
  ========================================
  Clearfix
  ========================================
*/
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  clear: both;
  *zoom: 1;
}
